<!DOCTYPE html>
<html>
<head>
  <title>Topic 2</title>
  <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
  <link rel="icon" href="assets/img/icon.png">
  <style type="text/css">
    body{
      background-image: url("assets/img/wp.jpg");
    }
  </style>
</head>
<body>
  <div class="vid-container">
    <div class="inner-container">
      <div class="box">
        <center><img src="assets/img/icon.png" width="80" height="80"></center>
        <h1>Silahkan Masuk</h1>
        <p>Selamat Belajar</p>
        <input type="text" placeholder="Username"/>
        <input type="text" placeholder="Password"/>
        <button>Login</button>
        <p>Bukan anggota ? <span>Mendaftar</span></p>
      </div>
    </div>
  </div>
</body>
</html>
Penjelasan
DOCTYPE html>	Deklarasi untuk mendefinisikan dokumen menjadi HTML
2	 <html>	Tag pembuka untuk membuat dokumen HTML
3	 <head>	Informasi meta tentang dokumen
4	 <title>	Membuat judul halaman yang nantinya akan ditampilkan di browser
5	 <body>	Tempat dibuatnya semua konten website menggunakan HTML
6.       <div> untuk mengovirmasikan link
7.       <hedibg> untuk mebuat ukura font title
8.       < button> mebuat tombola login
9.       <input> untuk mengiput 
10.      <p> untuk mebuat Baris baru
